@page "/generate"

<PageTitle>Generate Test Matrix</PageTitle>

@using TestCntrl.Data
@inject GenerateService GenerateConnector


<PageTitle>Test Cases</PageTitle>

<h3>Test Cases</h3>

@if (TestCaseArray == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>OSP</th>
                <th>iBCF</th>
                <th>ESRP</th>
                <th>ECRF</th>
                <th>eBCF</th>
                <th>CHE</th>
                <th>Logger</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var TestCase in TestCaseArray)
            {
                <tr>
                    <td>@TestCase.osp</td> 
                    <td>@TestCase.ibcf</td>
                    <td>@TestCase.esrp</td>
                    <td>@TestCase.ecrf</td>
                    <td>@TestCase.ebcf</td>
                    <td>@TestCase.che</td>                                
                    <td>@TestCase.logger</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private TestCaseObject[]? TestCaseArray;

    protected override async Task OnInitializedAsync()
    {
        TestCaseArray = await GenerateConnector.GetTests("sc_1");
    }
}
